@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.home_container{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    position: relative;
    padding: 20px 5px;
    overflow: hidden;
}

.home_navbar{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 94%;
    max-width: 1450px;
    z-index: 10;
}

.Logo{
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  color: #ffffff;
}

.list_nav{
    list-style-type: none;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    width: 55%;
}

.list_nav a{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
}

.list_nav li:hover{
    color: rgb(144, 144, 144);
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.signup_button{
    border-radius: 30px;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 40px;
    font-weight: 400;
    cursor: pointer;
}

.signup_button:hover{
    background-color: #656565;
    color: #ffffff;
    transition: all 0.5s ease;
}

.hero_container{
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    border-radius: 30px;
    z-index: 1;
}

.hero_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.hero_des_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 28%;
    left: 40px;
}

.hero_slogan{
    text-shadow: 2px 2px 4px #000000;
    width: 500px;
    color: #ffffff;
    font-size: 43px;
}

.hero_des{
    text-shadow: 2px 2px 4px #000000;
    max-width: 550px;
    color: #ffffff;
    font-size: 15px;
    width: 80%;
}

.check_button{
    border-radius: 30px;
    border: none;
    font-size: 15px;
    width: 150px;
    height: 40px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 45px;
}

.check_button:hover{
    background-color: #656565;
    color: #ffffff;
    transition: all 0.5s ease;
    transform: translateY(-10px);
}

.car_brand_logo{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand_img{
    width: 120px;
    height: 120px;
    opacity: 0.3;
}

.services_container{
    margin: 0 auto;
    background-color: rgba(12, 16, 28);
    border-radius: 15px;
    padding: 10px 35px;
    margin-top: 30px;
    height: 100%;
}

.services_slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan_title{
    font-size: 32px;
    font-weight: 500;
    color: rgba(69, 108, 213);
}

.slogan_bg{
    text-shadow: 2px 2px 4px #000000;
    width: 45%;
    color: #ffffff;
    font-size: 40px;
}

.slogan_sm{
    width: 40%;
    color: rgb(157, 164, 175);
    font-size: 16px;
}

.services_card_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.services_card{
    border-radius: 20px;
    padding: 35px 35px;
    background-color: rgba(25, 34, 49);
    width: 26%;
    margin-bottom: 50px;
    box-shadow: rgb(47, 57, 72) 0px 0px 0px 3px;
}

.icon_border{
    padding: 5px 10px;
    background-color: rgba(51, 62, 80);
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width: 75px;
}

.card_icon{
    padding: 2px;
    width: 70px;
    border-radius: 65px;
    background-color: rgba(72, 85, 101);
}

.services_card_title{
    color:#ffffff;
    font-size: 25px;
    font-weight: 400;
}

.services_card_des{
    color: rgb(157, 164, 175);
    font-size: 15px;
    font-weight: 400;
}

.step_container{
    margin-top: 100px;
    padding: 10px 35px;

}

.step_title{
    font-size: 35px;
    font-weight: 500;
    color: rgba(69, 108, 213);
}
